html {
  scroll-behavior: smooth;
}

.movieposter {
  box-shadow: 0px 10px 10px grey;
}

.navmargin {
  padding-top: 4rem;
}

.no-bottom{
  margin-bottom: 0;
}

/* BLUE SECTION */
.section-blue {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #041e42;
  color: #FFFFFF;
}

.section-blue .content {
  margin: 2em;
}

.section-blue .table {
  margin: 2em;
  background-color: #FFFFFF;
}

/* WHITE SECTION */
.section-white {
  padding-top: 2em;
  padding-bottom: 2em;
}

.section-white .content {
  margin: 2em;
}

.section-white .table {
  margin: 2em;
}

/* GOLD SECTION */
.section-gold {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #a99260;
  color: #FFFFFF;
}

.section-gold .content {
  margin: 2em;
}

.section-gold .table {
  margin: 2em;
  background-color: #FFFFFF;
}
