<footer class="my-5 pt-5 text-muted text-center text-small">
  <a href="#"><p class="mb-5 pt-5">Back to Top</p></a>
  <p class="mb-1">&copy; 2020 Georgia Southern University</p>
  <ul class="list-inline">
    <li class="list-inline-item"><a href="./#">Home</a></li>
    <li class="list-inline-item"> | </li>
    <li class="list-inline-item"><a href="./#10movies">Top 10</a></li>
    <li class="list-inline-item"> | </li>
    <li class="list-inline-item"><a href="movies">Movies</a></li>
    <li class="list-inline-item"> | </li>
    <li class="list-inline-item"><a href="genres">Genres</a></li>
    <li class="list-inline-item"> | </li>
    <li class="list-inline-item"><a href="actors">Actors</a></li>
    <li class="list-inline-item"> | </li>
    <li class="list-inline-item"><a href="about">About</a></li>
  </ul>
</footer>
