<nav class="nav nav-pills flex-column flex-sm-row">
  <a class="flex-sm-fill text-sm-center nav-link" href="#">Database</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="#"><img src="https://dummyimage.com/100x100/fff/aaa"></a>
  <a class="flex-sm-fill text-sm-center nav-link" href="#">About</a>
</nav>
