<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="./#"><img height="30" width="30"
      src="https://banner2.cleanpng.com/20180602/rvp/kisspng-georgia-southern-university-armstrong-campus-india-5b12ebf157ecd8.1736956915279667053602.jpg"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="./#">Home</a>
      </li>
      <!-- DROPDOWN -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="./#" role="button" aria-haspopup="true"
          aria-expanded="false">Top 10</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="./#10movies">Movies</a>
          <a class="dropdown-item" href="./#10actors">Actors</a>
          <a class="dropdown-item" href="./#10genres">Genres</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="./#">Top</a>
        </div>
      </li>
      <!-- END DROPDOWN -->
      <li class="nav-item">
        <a class="nav-link" href="movies">Movies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="genres">Genres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="actors">Actors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="random">Random</a>
      </li>
    </ul>
  </div>
</nav>