<div class="row">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Ranking</th>
        <th scope="col">Genre</th>
      </tr>
    </thead>
    <tbody>
      {{#each genresTable}}
      <tr>
        <th scope="row">{{@genreCounter}}</th>
        <td>{{this.genreType}}</td>
      </tr>
      {{/each}}
      {{@resetposition}}
    </tbody>
  </table>
</div>
